@tailwind preflight;

.page-container {
  height: 100vh;
  overflow: scroll;
  scroll-snap-points-y: repeat(100%);
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.page {
  @apply h-screen relative;
  scroll-snap-align: start;
}

.page-body {
  @apply absolute;
  max-width: 500px;
}

.page-title {
  @apply font-normal font-stardom;
}

.page-text {
  @apply font-claire text-white text-lg tracking-normal leading-normal;
}

@tailwind utilities;

.fill-white {
  fill: #fff;
}
.fill-wall-painting {
  fill: #FFD7CA;
}
.fill-painting {
  fill: #F3F2FF;
}
.fill-design {
  fill: #413F35;
}
.fill-airbrush {
  fill: #F0F1DF;
}
